@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
    --color-primary: #5F6FFF;
    --grid-auto-cols: repeat(auto-fill, minmax(200px, 1fr));
}

::-webkit-scrollbar {
    @apply hidden
}

* {
    font-family: Outfit;
}